root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
# ktlint 0.50.x: disable rules that require manual restructuring of existing code
ktlint_disabled_rules = no-wildcard-imports,import-ordering,filename,trailing-comma-on-call-site,trailing-comma-on-declaration-site,multiline-expression-wrapping
